<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!-- PRE CARGADOR -->
                    <div class="card mb-4" *ngIf="load_data">
                        <div class="col-md text-center">
                            <br>
                            <div class="text-light small fw-semibold">Cargando...</div>
                            
                            <div class="demo-inline-spacing">
                                
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                
                            </div>
                            
                            <br>
                        </div>                                
                    </div>
                    <!-- PRE CARGADOR -->

                    <div class="row">

                        <div class="col-lg-12 py-0 my-2 order-0">
                            <div class="card">

                                <!-- <ng-container *ngIf=""></ng-container> -->-

                                <ng-container *ngIf="!load_data">

                                    <ng-container *ngIf="data">
                                        <div class="card card-custom card-stretch gutter-b">
        
                                            <!-- TITLE & BUTTON -->
                                            <div class="card-header border-0 py-0 my-4 mb-0">
                                                
                                                <!-- TITLE'S -->
                                                <h1 class="display-5 mb-0">{{course.title}}</h1>
                                                <p class="mb-0">Solo se muestran cursos con clases vigentes</p>
                                                <!-- TITLE'S -->
        
                                                <div class="card-toolbar my-2">
        
                                                    <a type="button" [routerLink]="['/curso/'+id+'/ciclo/vencido']" class="btn btn-info">Ir a vencidos</a>
                                        
                                                    <a [routerLink]="['/curso/'+id+'/ciclo/create']" class="btn btn-primary" >Nuevo ciclo</a>
        
                                                </div>
                                            </div>
        
                                            <br>
                                            <!--begin::Body-->
                                            <div class="card-body py-0">
                                                
                                                <!-- SEARCHER -->
                                                <div class="row align-items-center mb-4">
                                                    <div class="col-lg-9 col-xl-8">
                                                        <div class="row align-items-center">
                                                            
                                                            <div class="col-md-3 my-2 my-md-0">
                                                                <div class="d-flex align-items-center">
                                                                    <label class="mr-3 mb-0 d-none d-md-block">Nivel:&nbsp;</label>
                                                                    <select class="form-select" name="filter" [(ngModel)]="filter">
                                                                        <option value="Todos">Todos</option>
                                                                        <option [value]="item.level" *ngFor="let item of levelList">{{item.level}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
        
                                                            <div class="col">
                                                                <a style="cursor: pointer;" class="button" (click)="filtrar()">Buscar</a>
                                                            </div>
        
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                        
                                                <table class="table table-borderless table-vertical-center">
                                                    <thead>
                                                        <tr>
                                                            <th class="p-0" style="width: 10%"></th>
                                                            <th class="p-0" style="min-width: 120px"></th>
                                                            <th class="p-0" style="min-width: 100px"></th>
                                                            <th class="p-0" style="min-width: 50px"></th>
                                                            <th class="p-0" style="min-width: 70px"></th>
                                                            <th class="p-0" style="min-width: 10%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    <ng-container *ngFor="let item of cicles">
                                                         
                                                        <!-- ID CICLE -->
                                                        <tr style="background: #f6f4ff;">
                                                            <td colspan="6">
                                                                <div>
                                                                    <p style="margin-bottom: 0px;"><b class="badge bg-label-dark">Código</b>
                                                                    <b class="badge bg-dark">{{item.cicle._id}}</b> </p>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <!-- CICLE DATA | ERROR -->
                                                        <tr style="background: #f6f4ff;">
                                                            <td class="">
                                                                <img class="card-img-top" [src]="url+item.cicle.course.banner" width="100%"/>
                                                            </td>
                                                            
                                                            <!-- FROM DATE-1 TO DATE-2 -->
                                                            <td class="pl-0" align="center">
                                                                <span class="badge bg-dark">{{item.cicle.level}}</span><br>
                                                                <span class="badge bg-label-dark">{{item.cicle.start_course|date}} - {{item.cicle.end_course|date}}</span>
                                                            </td>
                                                            <!-- FROM DATE-1 TO DATE-2 -->
        
                                                            <!-- CICLOS -->
                                                            <td align="center">
                                                                <ng-container *ngFor="let subitem of item.cicle.months; let last = last">
                                                                    <span class="badge bg-dark" *ngIf="subitem == 1">Ene<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 2">Feb<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 3">Mar<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 4">Abri<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 5">May<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 6">Jun<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 7">Jul<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 8">Ago<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 9">Sep<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 10">Oct<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 11">Nov<ng-container *ngIf="!last">, </ng-container></span>
                                                                    <span class="badge bg-dark" *ngIf="subitem == 12">Dic<ng-container *ngIf="!last">, </ng-container></span>
                                                                </ng-container>
                                                                <br>
                                                                <span class="badge bg-label-dark"> Ciclos </span>
                                                            </td>
                                                            <!-- CICLOS -->
                                                            
                                                            <!-- STATE -->
                                                            <td align="center">
                                                                <ng-container *ngIf="item.cicle.state">
                                                                    <span class="badge bg-sucess">Publicado</span>
                                                                </ng-container>
                                                                <ng-container *ngIf="!item.cicle.state">
                                                                    <span class="badge bg-warning">Borrador</span>
                                                                </ng-container>
                                                            </td>
                                                            <!-- STATE -->
                                                            
                                                            <!-- CREATION -->
                                                            <td class="text-right">
                                                                <span class="badge bg-dark">{{item.cicle.createdAt|date:'dd-MM-YYYY'}}</span><br>
                                                                <span class="badge bg-label-dark">Creación</span>
                                                            </td>
                                                            <!-- CREATION -->
        
                                                            <td class="text-right pr-4" >
                                                                <div class="dropdown col-s-12 col-lg-3 m-1 p-0" >
                                                                    <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" [routerLink]="['/curso/'+id+'/ciclo/edit/'+item.cicle._id]"><i class='bx bx-edit'></i> Editar</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            
                                                        </tr>
        
                                                        <tr align="center">
                                                            <td colspan="6">
                                                                <table class="table table-bordered table-sm table-striped " >
                                                                    <ng-container>
                                                                        <thead align="center">
                                                                            <th class="text-primary">Salón</th>
                                                                            <th class="text-primary">Horario</th>
                                                                            <th class="text-primary">Días</th>
                                                                            <th class="text-primary">Aforo</th>
                                                                        </thead>
                                                                        <tr *ngFor="let subitem of item.room" align="center">
                                                                            <td> {{subitem.room}} </td>
                                                                            <td><span>{{subitem.start_time}}</span> - <span>{{subitem.end_time}}</span> </td>
                                                                            <td>
                                                                                <ng-container *ngFor="let day of subitem.days; let last = last">
                                                                                    <span *ngIf="!last">{{day.substr(0,2)}},</span>
                                                                                    <span *ngIf="last">{{day.substr(0,2)}}</span>
                                                                                </ng-container>
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{subitem.total_capacity}}</strong>
                                                                                <span>({{subitem.current_capacity}})</span>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                    
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </ng-container>
        
                                                        
                                                    </tbody>
                                                    <!-- <tbody>
                                                        <tr>
                                                            <td colspan="6" class="text-center">
                                                                <span class="text-muted">No se encontraron resultados.</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>   -->
                                                    
                                                    
                                                </table>
                                        
                                                        
                                                <!--end::Table-->
                                            </div>
                                            
                                            <!--end::Body-->
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="!data"><app-notfound></app-notfound></ng-container>

                                </ng-container>


                            </div>
                        </div>


                    </div>
                    
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>



