<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">

                        <div class="col-lg-12 py-0 my-2 order-0">
                            <div class="card">

                                <div class="card card-custom card-stretch gutter-b">

                                    <!--begin::Header-->
                                    <div class="card-header border-0 py-0 my-4 mb-0">
                                        
                                        <!-- TITLE'S -->
                                        <h1 class="display-5 mb-0">Ciclos vigentes</h1>
                                        <p class="mb-0">Solo se muestran cursos con clases vigentes</p>
                                        <!-- TITLE'S -->

                                        <div class="card-toolbar my-2">

                                            <a type="button" class="btn btn-info">Ir a vencidos</a>
                                
                                            <a type="button" class="btn btn-primary ">Nuevo ciclo</a>

                                        </div>
                                    </div>
                                    <!--end::Header-->

                                    <br>
                                    <!--begin::Body-->
                                    <div class="card-body py-0">
                                        
                                        <!-- SEARCHER -->

                                        <div class="row align-items-center mb-4">
                                            <div class="col-lg-9 col-xl-8">
                                                <div class="row align-items-center">
                                                    
                                                    <div class="col-md-5 my-2 my-md-0">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-3 mb-0 d-none d-md-block">Nivel:&nbsp;</label>
                                                            <select class="form-control">
                                                                <option value="Todos">Todos</option>
                                                                <option value="Basico 1">Basico 1</option>
                                                                <option value="Basico 2">Basico 2</option>
                                                                <option value="Basico 3">Basico 3</option>
                                                                <option value="Intermedio 1">Intermedio 1</option>
                                                                <option value="Intermedio 2">Intermedio 2</option>
                                                                <option value="Intermedio 2">Intermedio 3</option>
                                                                <option value="Avanzado 1">Avanzado 1</option>
                                                                <option value="Avanzado 2">Avanzado 2</option>
                                                                <option value="Avanzado 3">Avanzado 3</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <a style="cursor: pointer;" class="btn btn-light-primary px-6 font-weight-bold">Buscar</a>
                                                    </div>

                                                </div>
                                            </div>
                                            
                                        </div>

                                        <!-- SEARCHER -->                                
                                
                                        <table class="table table-borderless table-vertical-center">
                                            <thead>
                                                <tr>
                                                    <th class="p-0" style="width: 50px"></th>
                                                    <th class="p-0" style="min-width: 120px"></th>
                                                    <th class="p-0" style="min-width: 100px"></th>
                                                    <th class="p-0" style="min-width: 50px"></th>
                                                    <th class="p-0" style="min-width: 70px"></th>
                                                    <th class="p-0" style="min-width: 70px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="background: #f6f4ff;">
                                                    <td colspan="6">
                                                        <div>
                                                            <p style="margin-bottom: 0px;"><b class="badge bg-label-dark">Código</b>
                                                            <b class="badge bg-dark">#61f3597b1334ee5e705c7055</b> </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr style="background: #f6f4ff;">
                                                    <td class="pl-4">
                                                        <div class="symbol symbol-50 symbol-fixed mr-2 mt-2">
                                                            <div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-26.jpg')"></div>
                                                        </div>
                                                    </td>
                                                    
                                                    <!-- FROM DATE-1 TO DATE-2 -->
                                                    <td class="pl-0" align="center">
                                                        <span class="badge bg-dark">Avanzado 1</span><br>
                                                        <span class="badge bg-label-dark">01/01/2022 - 01/03/2022</span>
                                                    </td>
                                                    <!-- FROM DATE-1 TO DATE-2 -->

                                                    <!-- CICLOS -->
                                                    <td align="center">
                                                        <span class="badge bg-dark">Ene,Feb,Mar</span><br>
                                                        <span class="badge bg-label-dark"> Ciclos </span>
                                                    </td>
                                                    <!-- CICLOS -->
                                                    
                                                    <!-- STATE -->
                                                    <td align="center">
                                                        <ng-container>
                                                            <span class="badge bg-warning">Publicado</span>
                                                        </ng-container>
                                                        <!-- <ng-container>
                                                            <span class="badge badge-success">Borrador</span>
                                                        </ng-container> -->
                                                    </td>
                                                    <!-- STATE -->
                                                    
                                                    <!-- CREATION -->
                                                    <td class="text-right">
                                                        <span class="badge bg-dark">12 Dic, 2021</span><br>
                                                        <span class="badge bg-label-dark">Creación</span>
                                                    </td>
                                                    <!-- CREATION -->

                                                    <td class="text-right pr-4" >
                                                        <div class="dropdown dropdown-inline dropleft">
                                                            <button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="ki ki-bold-more-ver"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" >
                                                                    <i class="icon-1x text-dark-50 flaticon-edit"></i> &nbsp; Editar curso
                                                                </a>
                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <table class="table table-bordered table-sm table-striped" style="margin-bottom: 0px;">
                                                            <ng-container>
                                                                <thead>
                                                                    <th class="text-primary">Salón</th>
                                                                    <th class="text-primary">Horario</th>
                                                                    <th class="text-primary">Días</th>
                                                                    <th class="text-primary">Aforo</th>
                                                                </thead>
                                                                <tr>
                                                                    <td>
                                                                        Salon 1
                                                                    </td>
                                                                    <td>
                                                                        <span>15:00</span> - <span>16:30</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                                            Lun,Mie,Vie
                                                                        </span>
                                                                        <span class="text-muted font-weight-bold">Días</span>
                                                                    </td>
                                                                    <td>
                                                                        <strong>40</strong>
                                                                        <span>(10)</span>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                            
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody>
                                                <tr>
                                                    <td colspan="6" class="text-center">
                                                        <span class="text-muted">No se encontraron resultados.</span>
                                                    </td>
                                                </tr>
                                            </tbody>   -->
                                            
                                            
                                        </table>
                                
                                                
                                        <!--end::Table-->
                                    </div>
                                    
                                    <!--end::Body-->
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>



