<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row">

                        <app-aside-cliente></app-aside-cliente>
                        
                        <!--begin::Content-->
                        <div class="" style="padding-left: 3%; width: 73%;">
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <!--begin::Header-->
                                <div class="card-header py-3 pb-0">

                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark mb-0">Llamadas del cliente</h3>
                                        <span class="text-muted font-weight-bold font-size-sm">Lorem ipsum dolor sit amet.</span>
                                    </div>

                                    <div class="card-toolbar" role="toolbar" aria-label="Toolbar with button groups" align="center">
                                        <div class="btn-group" role="group" aria-label="First group" >
                                            
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion']" class="btn btn-outline-warning ">
                                                <i class='bx bx-task' ></i>&nbsp;<span>Actividades</span>
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/intereses']" class="btn btn-outline-primary">
                                                <i class="tf-icons bx bx-task"></i>&nbsp;Intereses
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/llamadas']" 
                                                class="btn btn-outline-success" routerLinkActive="btn btn-outline-success active">
                                                <i class="bx bx-phone-call"></i>&nbsp;Llamadas
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/correos']" class="btn btn-outline-info">
                                                <i class='bx bx-envelope' ></i>&nbsp;Correos
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/tareas']" class="btn btn-outline-danger">
                                                <i class='bx bx-task' ></i>&nbsp;Tareas
                                            </a>

                                        </div>
                                            
                                    </div>

                                </div>
                                <!--end::Header-->
                                <!--begin::Form-->
                                <div class="card-body">

                                    <hr class="mb-3">
                                    
                                    <ng-container *ngIf="load_data">
                                        <div class="card mb-4">
                                            <div class="col-md text-center">
                                                <br>
                                                <div class="text-light small fw-semibold">Cargando...</div>
                                                
                                                <div class="demo-inline-spacing">
                                                    
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <div class="spinner-grow text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    
                                                </div>
                                                
                                                <br>
                                            </div>                                
                                        </div>
                                    </ng-container>
                                    
                                    <ng-container *ngIf="!load_data">
                                        
                                        <ng-container *ngIf="data">

                                            <a class="btn btn-info mr-3 mb-3" style="cursor: pointer;" 
                                            data-bs-toggle="modal" [attr.data-target]="'#modalCall'" data-bs-target="#modalCall"
                                            (click)="currentTime()">Nueva llamada</a>
    
                                            <div class="list-group-item list-group-item-action" 
                                                *ngFor="let item of callList | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                                            <div class="mb-3">
                                                <!--begin::Content-->
                                                <div class="d-flex align-items-center flex-grow-1">
                                                    <!--begin::Section-->
                                                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                                                        <!--begin::Info-->
                                                        <div class="d-flex flex-column align-items-cente py-2 w-75">
        
                                                            <!--begin::Title-->
                                                            <div class="">
                                                                <!--begin::Title-->
                                                                    <p class="badge bg-info col-2" *ngIf="item.result == status[0]"> {{item.result}}</p>
                                                                    <p class="badge bg-info col-2" *ngIf="item.result == status[1]"> {{item.result}}</p>
                                                                    <p class="badge bg-primary col-2" *ngIf="item.result == status[2]"> {{item.result}}</p>
                                                                    <p class="badge bg-warning col-2" *ngIf="item.result == status[3]"> {{item.result}}</p>
                                                                    <p class="badge bg-danger col-2" *ngIf="item.result == status[4]"> {{item.result}}</p>
                                                                    <p class="badge bg-primary col-2" *ngIf="item.result == status[5]"> {{item.result}}</p>
                                                                    <p class="badge bg-success col-2" *ngIf="item.result == status[6]"> {{item.result}}</p>
                                                                &nbsp;
                                                                <p class="badge bg-label-dark "> {{item.asesor.name}} {{item.asesor.lastName}}</p>                                                    
                                                                <!--end::Title-->
                                                            </div>
                                                            <!--end::Title-->
        
                                                            <!--begin::Data-->
                                                            <span class="text-dark fw-semibold">
                                                            {{item.createdAt | date:'MMM dd'}}&nbsp;|&nbsp;{{item.time}}
                                                            </span>
        
                                                            <span class="text-dark font-weight-bold"> {{item.note}} </span>
                                                            <!--end::Data-->
        
                                                        </div>
                                                        <!--end::Info-->
        
                                                        <!--begin::Label-->
                                                        <span class="badge bg-dark"> {{item.date}}</span>
                                                        <!--end::Label-->
        
                                                    </div>
                                                    <!--end::Section-->
                                                </div>
                                                <!--end::Content-->
                                            </div>
                                            </div><br>
        
                                            <ngb-pagination [collectionSize]="callList.length" [pageSize]="pageSize" [(page)]="page" 
                                                [maxSize]="10" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>

                                        </ng-container>

                                        <ng-container *ngIf="!data">
                                            <app-notfound></app-notfound>
                                        </ng-container>

                                    </ng-container>                                    

                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                        <!--end::Content-->

                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
            
        </div>
        <!-- / Layout page -->

    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- MODAL AGREGA NUEVA LLAMADA -->
<div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-hidden="true" data-dismiss="modal" aria-modal="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nueva llamada</h5>
            </div>

            <div class="modal-body">
                <div class="mb-15">
                        
                    <!-- FECHA -->
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Fecha (*):</label>
                        <div class="col-lg-5 px-4 pl-0">
                            <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"/>
                        </div>
                        <div class="col-lg-4 px-0" align="center">
                            <button class="btn btn-lg btn-outline-primary py-2 px-4" (click)="d.toggle()" type="button"><i class='bx bx-calendar' ></i></button>
                            <button class="btn btn-lg btn-outline-primary py-2 px-4" (click)="selectToday()">hoy</button>
                        </div>
                    </div>
                    <br>

                    <!-- RESULTADO -->
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Resultado (*):</label>
                        <div class="col-lg-8">
                            <select class="form-select "name="result" [(ngModel)]="call.result">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Ocupado">Ocupado</option>
                                <option value="Conectado">Conectado</option>
                                <option value="Dejo mensaje">Dejo un mensaje</option>
                                <option value="Sin respuesta">Sin respuesta</option>
                                <option value="N° Incorrecto">N° Incorrecto</option>
                                <option value="Prox. llamada">Proxima llamada</option>
                                <option value="Venta cerrada">Venta cerrada</option>
                            </select>
                        </div>
                    </div>

                    <!-- HORA -->
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Hora (*):</label>
                        <div class="col-lg-8">
                            <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
                        </div>
                    </div>

                    <!-- NOTA -->
                    <div class="form-group row">
                       <div class="col-lg-12">
                        <textarea class="form-control" rows="4" placeholder="Alguna nota o información"
                            name="note" [(ngModel)]="call.note"></textarea>
                       </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button *ngIf="!btn_load" type="submit" class="btn btn-primary font-weight-bold" (click)="registrar()">Crear</button>
                <button *ngIf="btn_load" class="btn btn-primary"  type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrando...
                  </button>
            </div>

        </div>
    </div>
</div>
<!-- MODAL AGREGA NUEVA LLAMADA -->

<!-- TOAST | NOTIFICACION -->
<div class="bs-toast toast fade show bg-{{typeToastMessage}} " role="alert" aria-live="assertive" aria-atomic="true"
    style="position: absolute; top: 3%; right: 3%;" *ngIf="alertOn">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">{{toastMessage2()}}</div>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {{toastMessage1()}} </div>
</div>
<!-- TOAST | NOTIFICACION -->