<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row">

                        <app-aside-cliente></app-aside-cliente>
                        
                        <!--begin::Content-->
                        <div class="" style="padding-left: 3%; width: 73%;">
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <!--begin::Header-->
                                <div class="card-header py-3">

                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark mb-0">Actividades del cliente</h3>
                                        <span class="text-muted font-weight-bold font-size-sm">Lorem ipsum dolor sit amet.</span>
                                    </div>

                                    <div class="card-toolbar" role="toolbar" aria-label="Toolbar with button groups" align="center">
                                        <div class="btn-group" role="group" aria-label="First group" >
                                            
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion']" 
                                                class="btn btn-outline-warning" routerLinkActive="btn btn-outline-warning active">
                                                <i class='bx bx-task' ></i>&nbsp;<span>Actividades</span>
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/intereses']" class="btn btn-outline-primary">
                                                <i class="tf-icons bx bx-task"></i>&nbsp;Intereses
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/llamadas']" class="btn btn-outline-success">
                                                <i class='bx bx-phone-call' ></i>&nbsp;Llamadas
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/correos']" class="btn btn-outline-info">
                                                <i class='bx bx-envelope' ></i>&nbsp;Correos
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/tareas']" class="btn btn-outline-danger">
                                                <i class='bx bx-task' ></i>&nbsp;Tareas
                                            </a>

                                        </div>
                                            
                                    </div>

                                </div>
                                <!--end::Header-->
                                <hr class="mb-3">
                                <!--begin::Form-->
                                <div class="card-body">
                                    
                                    <!-- PRE CARGADOR -->
                                    <div class="card mb-4" *ngIf="load_data">
                                        <div class="col-md text-center">
                                            <br>
                                            <div class="text-light small fw-semibold">Cargando...</div>
                                            
                                            <div class="demo-inline-spacing">
                                                
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                
                                            </div>
                                            
                                            <br>
                                        </div>                                
                                    </div>
                                    <!-- PRE CARGADOR -->

                                    <ng-container *ngIf="!load_data">
                                    
                                        <!-- Horizontal -->
                                            <div class="list-group-item list-group-item-action py-3 px-2 card" 
                                            *ngFor="let item of activityList | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                                                <div class="row g-0">

                                                <div class="col-md-2" align="center" style="position: relative;">
                                                    <img *ngIf="item.type == 'Tarea'" src="/assets/img/icons/activity/task.png"
                                                    width="45%"  style="position: relative; top: 50%; transform: translateY(-50%);">
                                                    <img *ngIf="item.type == 'Llamada'" src="/assets/img/icons/activity/call.png"
                                                    width="45%"  style="position: relative; top: 50%; transform: translateY(-50%);">
                                                    <img *ngIf="item.type == 'Correo'" src="/assets/img/icons/activity/email.png"
                                                    width="45%"  style="position: relative; top: 50%; transform: translateY(-50%);">
                                                </div>

                                                <div class="col-md-10 d-flex">

                                                    <!-- TYPE | ACTIVITY -->
                                                    <div class="card-body py-0 px-1">
                                                        <h5 class="card-title">{{item.type}}</h5>
                                                        <p class="card-text">{{item.activity}}</p>
                                                    </div>

                                                    <!-- DATE | TIME -->
                                                    <div class="flex pt-3">
                                                        <p class="badge bg-label-dark"><b>Hora:</b> {{item.createdAt | date: "HH:mm"}}</p>
                                                        <p class="badge bg-dark">{{item.createdAt | date: "dd-MM-yyyy"}}</p>
                                                    </div>

                                                </div>
                                                
                                                </div>
                                            </div>
                                        <!--/ Horizontal -->

                                        <ngb-pagination [collectionSize]="activityList.length" [pageSize]="pageSize" [(page)]="page" 
                                                [maxSize]="10" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>

                                    </ng-container>

                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                        <!--end::Content-->

                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

