
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
        
                                <!--begin::Header-->
                                <div class="card-header border-0 py-3 pb-0 d-flex">
                                    <h3 class="card-title align-items-start flex-column my-0">
                                        <h3 class="display-5 my-0">Cursos base</h3>
                                        <p class="lead mt-2">More than 400+ new members</p>                                        
                                    </h3>
                                    <div class="card-toolbar px-3" align="center" style="position: relative;">
                                        <a [routerLink]="['/curso/create']" class="btn btn-primary" 
                                            style="position: relative; top: 50%; transform: translateY(-50%);">Nuevo curso</a>
                                    </div>
                                </div>
                                <!--end::Header-->
                                       
                            </div>
                        </div>

                        <!-- COURSE CARD -->
                        <div class="col-md-6 col-lg-4 mb-3" *ngFor="let item of courseList">
                            <div class="card h-100">
                                <img class="card-img-top" [src]="url+item.banner" />
                                <div class="card-body" style="height: 50%;">

                                    <h5 class="card-title" style="cursor: pointer;">{{item.title}} 
                                        <span class="badge bg-label-success mx-2" *ngIf="item.state">Activo</span>
                                        <span class="badge bg-label-danger" *ngIf="!item.state">Desactivado</span>
                                    </h5>

                                    <div class="card accordion-item">
                                        <h2 class="accordion-header" [id]="item._id">
                                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                          [attr.data-bs-target]="'#accordionExample'+item._id" aria-expanded="false" aria-controls="accordionTwo">
                                            Descripcion
                                          </button>
                                        </h2>
                                        <div class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" 
                                        [attr.id]="'accordionExample'+item._id">
                                          <div class="accordion-body">
                                            <p class="card-text" > {{item.description}} </p>
                                          </div>
                                        </div>
                                      </div>


                                    <h5 class="card-title">
                                        <span class="badge bg-label-dark my-2">{{item.createdAt|date:'dd-MM-yyyy'}}</span>
                                    </h5>

                                    <div class="row" align="center">
                                        
                                        <div class="col-s-12 col-lg-3 m-1 p-0" >
                                            <a [routerLink]="['/curso/'+item._id+'/ciclo']" class="btn btn-primary" style="width: 100%;" style="align-items: center;" >Vigentes</a>
                                        </div>

                                        <div class="col-s-12 col-lg-3 m-1 p-0">
                                            <a [routerLink]="['/curso/'+item._id+'/ciclo/vencido']" class="btn btn-primary" style="width: 100%;">Historial</a>
                                        </div>

                                        <!-- OPTIONS -->
                                        <div class="dropdown col-s-12 col-lg-3 m-1 p-0" >
                                            <button type="button" class="btn btn-primary dropdown-toggle hide-arrow" 
                                                data-bs-toggle="dropdown" style="width: 100%;">Opciones</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" [routerLink]="['/curso/'+item._id]"><i class='bx bx-edit'></i> Editar</a>

                                                <a style="cursor: pointer;" class="dropdown-item" data-toggle="modal" 
                                                    *ngIf="item.state" [attr.data-target]="'#state-'+item._id">
                                                        <i class="bx bx-x-circle"></i> Desactivar</a>
                                                                
                                                <a style="cursor: pointer;" class="dropdown-item" *ngIf="!item.state" 
                                                    data-toggle="modal" [attr.data-target]="'#state-'+item._id">
                                                    <i class="bx bx-check-circle"></i> Activar</a>
                                            </div>
                                        </div>

                                        <!-- STATE MODAL -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="mt-3">
                                                <div class="modal fade" id="state-{{item._id}}" tabindex="-1" role="dialog" aria-hidden="true" >
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modalCenterTitle">Modal title</h5>
                                                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    Seguro papu? :v
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> Close </button>
                                                                <button *ngIf="!load_state" type="button" class="btn btn-primary" (click)="set_state(item._id, item.state)">
                                                                    Confirmar</button>
                                                                <button *ngIf="load_state" class="btn btn-danger" type="button" disabled>
                                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                    Enviando
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- STATE MODAL -->

                                    </div>
                                
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


