<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row">

                        <app-aside-cliente></app-aside-cliente>
                        
                        <!--begin::Content-->
                        <div class="" style="padding-left: 3%; width: 73%;">
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <!--begin::Header-->
                                <div class="card-header py-3">

                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark mb-0">Tareas del cliente</h3>
                                        <span class="text-muted font-weight-bold font-size-sm">Lorem ipsum dolor sit amet.</span>
                                    </div>

                                    <div class="card-toolbar" role="toolbar" aria-label="Toolbar with button groups" align="center">
                                        <div class="btn-group" role="group" aria-label="First group" >
                                            
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion']" class="btn btn-outline-warning">
                                                <i class='bx bx-task' ></i>&nbsp;<span>Actividades</span>
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/intereses']" class="btn btn-outline-primary">
                                                <i class="tf-icons bx bx-task"></i>&nbsp;Intereses
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/llamadas']" class="btn btn-outline-success">
                                                <i class='bx bx-phone-call' ></i>&nbsp;Llamadas
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/correos']" class="btn btn-outline-info">
                                                <i class='bx bx-envelope' ></i>&nbsp;Correos
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/tareas']" 
                                            class="btn btn-outline-danger" routerLinkActive="btn btn-outline-danger active">
                                                <i class='bx bx-task' ></i>&nbsp;Tareas
                                            </a>

                                        </div>
                                            
                                    </div>

                                </div>
                                <!--end::Header-->

                                <div class="card-header">
                                    <div class="card-toolbar">
                                        <a *ngIf="!load_data" class="btn btn-info font-weight-bolder font-size-sm mr-3" 
                                            [attr.data-target]="'#modalTask'" (click)="currentTime()"
                                            data-bs-toggle="modal" [attr.data-target]="'#modalTask'" data-bs-target="#modalTask">
                                            Nueva tarea
                                        </a>
                                        <button *ngIf="load_data" disabled class="btn btn-info font-weight-bolder font-size-sm mr-3">Nueva tarea</button>
                                    </div>
                                </div>

                                <!--begin::Form-->
                                <div class="card-body pb-2">

                                    <!-- PRE CARGADOR -->
                                    <div class="card mb-4" *ngIf="load_data">
                                        <div class="col-md text-center">
                                            <br>
                                            <div class="text-light small fw-semibold">Cargando...</div>
                                            
                                            <div class="demo-inline-spacing">
                                                
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                
                                            </div>
                                            
                                            <br>
                                        </div>                                
                                    </div>
                                    <!-- PRE CARGADOR -->

                                    <ng-container *ngIf="!load_data">
                                        
                                        <div class="row" *ngIf="data">
                                                
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">

                                                        <thead>
                                                            <tr >
                                                                <th class="p-0" style="width: 10%;" ></th>
                                                                <th class="p-0" style="width: 40%;"></th>
                                                                <th class="p-0" style="width: 20%;"></th>
                                                                <th class="p-0" style="width: 10%;"></th>
                                                                <th class="p-0" style="width: 20%;"></th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <ng-container *ngFor="let item of taskList | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">

                                                            <tr >
                                                                
                                                                <!-- TASK ICON -->
                                                                <td class="px-0 py-4" align="center" >

                                                                    <!-- ESTADO == FALSE -->
                                                                    <div *ngIf="!item.state" class="" >
                                                                        <!-- LLAMADA -->
                                                                        <img src="/assets/img/icons/task/call.png" style="width: 50%;" *ngIf="item.type == type[0]">
                                                                        <!-- CORREO -->
                                                                        <img src="/assets/img/icons/task/email.png" style="width: 50%;" *ngIf="item.type == type[1]">
                                                                        <!-- VENTA -->
                                                                        <img src="/assets/img/icons/task/sell.png" style="width: 50%;" *ngIf="item.type == type[2]">
                                                                        <!-- OTRO -->
                                                                        <img src="/assets/img/icons/task/other.png" style="width: 50%;" *ngIf="item.type == type[3]">
                                                                    </div>

                                                                    <!-- ESTADO == TRUE -->
                                                                    <div *ngIf="item.state" class="" >
                                                                        <!-- FINISHED -->
                                                                        <img src="/assets/img/icons/task/finished.png" style="width: 50%;">
                                                                    </div>
                                                                    
                                                                </td>

                                                                <!-- TASK | TYPE -->
                                                                <td class="px-0">

                                                                    <!-- TASK -->
                                                                    <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                                        {{item.task}}
                                                                    </a>

                                                                    <!-- TYPE -->
                                                                    <div>
                                                                        <span class="text-dark fw-semibold">Tipo de tarea:</span>
                                                                        <a class="text-muted font-weight-bold text-hover-primary">&nbsp; {{item.type}}</a>
                                                                    </div>

                                                                </td>

                                                                <!-- ASESOR -->
                                                                <td class="text-right px-0">
                                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                                        <!-- ASESOR -->
                                                                        {{item.asesor.name}}
                                                                    </span>
                                                                    <!-- <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                                        No asignado
                                                                    </span> -->
                                                                    <span class="text-dark fw-semibold">Asesor</span>
                                                                </td>
                                                                
                                                                <!-- PRIORIDAD -->
                                                                <td class="px-0" align="center">
                                                                    <p class="badge bg-label-success" *ngIf="item.priority == priority[0]">Baja</p>
                                                                    <p class="badge bg-label-warning" *ngIf="item.priority == priority[1]">Media</p>
                                                                    <p class="badge bg-label-danger" *ngIf="item.priority == priority[2]" >Alta</p>
                                                                </td>

                                                                <!-- FECHA | HORA -->
                                                                <td class="text-right px-0">
                                                                    <p class="badge bg-label-dark"><b>Hora:</b> {{item.time}}</p>
                                                                    <p class="badge bg-dark">{{item.date}}</p>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="5" class="font-weight-bolder">
                                                                    <!-- NOTA -->
                                                                    <p>{{item.note}}</p>

                                                                    <!-- STATE -->
                                                                    <a class="text-primary" *ngIf="item.state">
                                                                        <i class='bx bx-user-circle' ></i>  Marcado por {{item.marca_asesor.fullname}}
                                                                    </a>
                                                                    <a class="text-success" *ngIf="!item.state">
                                                                        <a style="cursor: pointer;" class="text-success" data-bs-toggle="modal" 
                                                                        [attr.data-target]="'#modalState-'+item._id" [attr.data-bs-target]="'#modalState-'+item._id" >
                                                                        [Marcar como hecho]</a>
                                                                    </a>

                                                                    <!-- MODAL MARCAR TAREA -->
                                                                    <div class="modal fade" id="modalState-{{item._id}}" tabindex="-1" 
                                                                        role="dialog" aria-hidden="true" data-dismiss="modal" aria-modal="false">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">

                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="exampleModalLabel">Tarea Finalizada</h5>
                                                                                </div>

                                                                                <div class="modal-body">
                                                                                    <div class="mb-15">
                                                                                    <p>Al aceptar esta marcando la realicación de la tarea con su cuenta.</p>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-light-primary font-weight-bold" 
                                                                                        data-dismiss="modal">Cerrar</button>
                                                                                    <button *ngIf="!btn_check" (click)="check(item._id)"
                                                                                        type="submit" class="btn btn-primary font-weight-bold" >Marcar</button>
                                                                                    <button *ngIf="btn_check" class="btn btn-primary"  type="button" disabled>
                                                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                                        Marcando...
                                                                                    </button>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- MODAL AGREGA NUEVA TAREA -->

                                                                </td>
                                                            </tr>

                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <ngb-pagination [collectionSize]="taskList.length" [pageSize]="pageSize" [(page)]="page" 
                                                [maxSize]="10" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>

                                        </div>

                                        <ng-container *ngIf="!data"><app-notfound></app-notfound></ng-container>

                                    </ng-container>

                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                        <!--end::Content-->

                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- MODAL AGREGA NUEVA TAREA -->
<div class="modal fade" id="modalTask" tabindex="-1" role="dialog" aria-hidden="true" data-dismiss="modal" aria-modal="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva tarea</h5>
            </div>

            <div class="modal-body">
                <div class="mb-15">
                        
                    <!-- ASESOR -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"><b>Asesor a cargo (*):</b></label>
                        <div class="col-lg-8">
                            <select class="form-select" name="asesor" [(ngModel)]="task.asesor">
                                <option value="" selected disabled>Seleccionar</option>
                                <option [value]="item._id" *ngFor="let item of asesores">{{item.name}} {{item.lastName}}</option>
                            </select>
                        </div>
                    </div><br>

                    <!-- TASK -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"><b>Tarea (*):</b></label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="task" [(ngModel)]="task.task" placeholder="Llamar a cliente"/>
                        </div>
                    </div>
                    <br>

                    <!-- DATE -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Fecha (*):</label>
                        <div class="col-lg-4 px-4 pl-0">
                            <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"/>
                        </div>
                        <div class="col-lg-4 px-0" align="center">
                            <button class="btn btn-lg btn-outline-primary py-2 px-4" (click)="d.toggle()" type="button"><i class='bx bx-calendar' ></i></button>
                            <button class="btn btn-lg btn-outline-primary py-2 px-4" (click)="selectToday()">hoy</button>
                        </div>
                    </div><br>

                    <!-- TIME -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"><b>Hora (*):</b></label>
                        <div class="col-lg-8">
                            <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
                        </div>
                    </div>

                    <!-- TYPE -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"><b>Tipo (*):</b></label>
                        <div class="col-lg-8">
                            <select name="type" class="form-select" name="type" [(ngModel)]="task.type">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Llamada">Llamada</option>
                                <option value="Correo">Correo</option>
                                <option value="Venta">Venta</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div><br>

                    <!-- PRIORITY -->
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label"><b>Prioridad (*):</b></label>
                        <div class="col-lg-8">
                            <select class="form-select" name="priority" [(ngModel)]="task.priority">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Ninguna">Ninguna</option>
                                <option value="Baja">Baja</option>
                                <option value="Media">Media</option>
                                <option value="Alta">Alta</option>
                            </select>
                        </div>
                    </div><br>

                    <!-- NOTE -->
                    <div class="form-group row">
                        <div class="col-lg-12">
                         <textarea class="form-control" rows="3" placeholder="Alguna nota o información" name="note" [(ngModel)]="task.note"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button *ngIf="!btn_enviar" type="submit" class="btn btn-primary font-weight-bold" (click)="registrar()">Crear</button>
                <button *ngIf="btn_enviar" class="btn btn-primary"  type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrando...
                  </button>
            </div>

        </div>
    </div>
</div>
<!-- MODAL AGREGA NUEVA TAREA -->

<!-- TOAST | NOTIFICACION -->
<div class="bs-toast toast fade show bg-{{typeToastMessage}} " role="alert" aria-live="assertive" aria-atomic="true"
    style="position: absolute; top: 3%; right: 3%;" *ngIf="alertOn">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">{{toastMessage2()}}</div>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {{toastMessage1()}} </div>
</div>
<!-- TOAST | NOTIFICACION -->


