<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="d-flex flex-row">

                        <app-aside-cliente></app-aside-cliente>
                        
                        <!--begin::Content-->
                        <div class="" style="padding-left: 3%; width: 73%;">
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <!--begin::Header-->
                                <div class="card-header py-3">

                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark mb-0">Correos del cliente</h3>
                                        <span class="text-muted font-weight-bold font-size-sm">Lorem ipsum dolor sit amet.</span>
                                    </div>

                                    <div class="card-toolbar" role="toolbar" aria-label="Toolbar with button groups" align="center">
                                        <div class="btn-group" role="group" aria-label="First group" >
                                            
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/actividades']" class="btn btn-outline-warning">
                                                <i class='bx bx-task' ></i>&nbsp;<span>Actividades</span>
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/intereses']" class="btn btn-outline-primary">
                                                <i class="tf-icons bx bx-task"></i>&nbsp;Intereses
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/llamadas']" class="btn btn-outline-success">
                                                <i class='bx bx-phone-call' ></i>&nbsp;Llamadas
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/correos']" 
                                                class="btn btn-outline-info" routerLinkActive="btn btn-outline-info active">
                                                <i class='bx bx-envelope' ></i>&nbsp;Correos
                                            </a>
                                            <a [routerLink]="['/cliente/buyer/'+id+'/prospeccion/tareas']" class="btn btn-outline-danger">
                                                <i class='bx bx-task' ></i>&nbsp;Tareas
                                            </a>

                                        </div>
                                            
                                    </div>

                                </div>
                                <!--end::Header-->
                                <!--begin::Form-->
                                <div class="card-header">
                                    <div class="card-toolbar">
                                        <!-- Button trigger modal -->
                                        <a *ngIf="!load_data" class="btn btn-info font-weight-bolder font-size-sm mr-3" 
                                            data-bs-toggle="modal" [attr.data-target]="'#modalCorreo'" data-bs-target="#modalCorreo">
                                            Nuevo correo
                                        </a>
                                        <button *ngIf="load_data" disabled class="btn btn-info font-weight-bolder font-size-sm mr-3">Nuevo correo</button>
                                        <!-- Button trigger modal -->
                                    </div>
                                </div>
                                <div class="card-body pb-2">

                                    <!-- PRE CARGADOR -->
                                    <div class="card mb-4" *ngIf="load_data">
                                        <div class="col-md text-center">
                                            <br>
                                            <div class="text-light small fw-semibold">Cargando...</div>
                                            
                                            <div class="demo-inline-spacing">
                                                
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                
                                            </div>
                                            
                                            <br>
                                        </div>                                
                                    </div>
                                    <!-- PRE CARGADOR -->

                                    <ng-container *ngIf="!load_data">
                                        
                                        <!-- REVISAR SI TIENE LAS CLASES DEL TEMPLATE -->
                                        <div class="row" *ngIf="data">

                                            <div class="list-group-item list-group-item-action mb-3" 
                                                *ngFor="let item of emailList | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize">
                                                
                                                <!--begin::Message-->
                                                <div class="shadow-xs toggle-off" data-inbox="message">

                                                    <!--begin::Info-->
                                                    <div class="d-flex align-items-start card-spacer-x py-1">
                                                        
                                                        <!--end::User Photo-->

                                                        <!--begin::User Details-->
                                                        <div class="d-flex flex-column flex-grow-1 flex-wrap mr-2">
                                                            <div class="col py-0" >
                                                                <p class="badge bg-label-primary">{{item.subject}}</p>
                                                                &nbsp;
                                                                <p class="badge bg-success col-2" >Enviado</p>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <div class="text-muted font-weight-bold toggle-on-item" data-inbox="toggle">
                                                                    <span class="label label-warning label-dot mr-2">
                                                                    </span>Enviado por: {{item.asesor.fullname}}
                                                                </div>

                                                                <a class="text-primary me-1" data-bs-toggle="collapse" role="button" aria-expanded="false"
                                                                [attr.data-bs-target]="'#multiCollapseExample'+item._id" aria-controls="multiCollapseExample" >
                                                                Ver mensaje
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <p class="badge bg-dark ">{{item.createdAt|date:'dd-MM-yyyy'}}</p>
                                                        </div>
                                                        <!--end::User Details-->

                                                    </div>
                                                    <!--end::Info-->

                                                    <!--begin::Comment-->
                                                    <div class="collapse multi-collapse" [attr.id]="'multiCollapseExample'+item._id" >
                                                        <div class="d-grid d-sm-flex p-3" [innerHTML]="item.body">
                                                          <span>
                                                            {{item.body}}
                                                          </span>
                                                        </div>
                                                    </div>
                                                    <!--end::Comment-->

                                                </div>
                                                <!--end::Message-->
                                            </div>

                                            <ngb-pagination [collectionSize]="emailList.length" [pageSize]="pageSize" [(page)]="page" 
                                                [maxSize]="10" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>

                                        </div>

                                        <ng-container *ngIf="!data"><app-notfound></app-notfound></ng-container>

                                    </ng-container>                                

                                </div>
                                <!--end::Form-->
                            </div>
                        </div>
                        <!--end::Content-->

                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- VERTICALLY CENTRAL MODAL -->
<div class="col-lg-6 col-md-8">
    <small class="text-light fw-semibold">Vertically centered</small>
    <div class="mt-3">

        <!-- MODAL -->
        <div class="modal fade" id="modalCorreo" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Nuevo Correo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>

            <div class="modal-body">
                <div class="">

                    <div class="col mb-3">
                        <label for="nameWithTitle" class="form-label">Asunto</label>
                        <input type="text" id="nameWithTitle" class="form-control" 
                            placeholder="Ingresar asunto" name="subject" [(ngModel)]="email.subject"/>
                    </div>

                    <div class="col mb-3">
                        <tinymce name="body" [(ngModel)]="email.body"></tinymce>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button  type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="!btn_enviar" type="button" class="btn btn-primary" (click)="enviarCorreo()">Crear</button>
                <button *ngIf="btn_enviar" type="button" class="btn btn-primary" disabled>Creando</button>
            </div>

            </div>
        </div>
        </div>
    </div>
</div>
<!-- VERTICALLY CENTRAL MODAL -->


<!-- TOAST | NOTIFICACION -->
<div class="bs-toast toast fade show bg-{{typeToastMessage}} " role="alert" aria-live="assertive" aria-atomic="true"
    style="position: absolute; top: 3%; right: 3%;" *ngIf="alertOn">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">{{toastMessage2()}}</div>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {{toastMessage1()}} </div>
</div>
<!-- TOAST | NOTIFICACION -->