<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar -->
            <app-top> </app-top>
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="col-lg-12 mb-4 order-0">
                        <div class="d-flex flex-column-fluid">
                            <div class="container">
                                <div class="row">

                                    <!-- MATRICULA | RESUMEN | PRICES -->
                                    <div class="col-12 col-md-6">
                                        <div class="card pb-4">

                                            <!-- NEW SCHOLARSHIP -->
                                            <div class="card-header pt-4"><h3 class="card-title my-0"><span class="">Nueva matricula</span></h3></div>
                                            <div class="card-body py-0">

                                                <!-- LEAD -->
                                                <div class="row form-group">
                                                    <label class="col-lg-3 col-form-label text-lg-end"><b>Cliente:</b></label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="demo-vertical-spacing demo-only-element px-0 pt-0">
                                                            <div class="input-group input-group-merge">
                                                                <input type="text" class="form-control" placeholder="Seleccionar Cliente" id="inputLead" readonly/>
                                                                <button class="btn btn-primary" type="button" data-toggle="modal" 
                                                                [attr.data-target]="'#modalLead'"><i class='bx bx-list-ul'></i></button>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <!-- LEAD -->
                                                <br>
                                                <!-- COMMUNICATION -->
                                                <div class="row form-group">
                                                    <label class="col-lg-3 col-form-label text-lg-end"><b>Canal:</b></label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <select class="form-select" name="channel" [(ngModel)]="matricula.channel">
                                                            <option value="" selected disabled>Seleccionar</option>
                                                            <option value="WhatsApp">WhatsApp</option>
                                                            <option value="Facebook">Facebook</option>
                                                            <option value="Instagram">Instagram</option>
                                                            <option value="Correo">Email</option>
                                                            <option value="Web">Web</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- COMMUNICATION -->
                                                <br>
                                                <!-- MATRICULA -->
                                                <div class="row form-group">
                                                    <label class="col-lg-3 col-form-label text-lg-end"><b>Matricula:</b></label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input type="number" class="form-control" placeholder="99.99" name="price" [(ngModel)]="matricula.price">
                                                    </div>
                                                </div>
                                                <!-- MATRICULA -->

                                            </div>
                                            <!-- NEW SCHOLARSHIP -->

                                            <!-- SUMARIZE | PRICES -->
                                            <div class="card-header pt-4"><h3 class="card-title my-0"><span class="">Resumen</span></h3></div>

                                            <div class="card-body py-0">

                                                <!-- DETAILS -->
                                                <div class="row form-group" style="text-align: center;">
                                                    <div class="col-12" style="padding-left: 70px; padding-right: 70px;">
                                                        <div class="d-flex flex-column">

                                                            <div class="d-flex justify-content-between mb-3">
                                                                <span class="mr-15 ">Asesor comercial:</span><span class="text-right">John Doe</span>
                                                            </div>

                                                            <div class="d-flex justify-content-between mb-3">
                                                                <span class="mr-15">Estado inicial:</span><span class="text-right">1234567890934</span>
                                                            </div>
                                                            <div class="d-flex justify-content-between mb-3">
                                                                <span class="mr-15">Origen:</span><span class="text-right">Interno</span>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <span class="mr-15">Descuento:</span><span class="text-right">No aplicado</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- DETAILS -->
                                                <br>
                                                <!-- PRICES -->
                                                <div class="row form-group">

                                                    <div class="col">
                                                        <div class="card" style="background: #f3f6f9;">
                                                            <div class="card-body">
                                                                <h4 class="fw-bolder mb-0 d-block">$5,209</h4>
                                                                <span class="font-weight-bold">Total</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="card" style="background: #f3f6f9;">
                                                            <div class="card-body">
                                                                <h4 class="fw-bolder mb-0 d-block">$5,209</h4>
                                                                <span class="font-weight-bold">Descuento</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <!-- PRICES -->
                                                
                                            </div>
                                            <!-- SUMARIZE | PRICES -->

                                        </div>
                                    </div>
                                    <!-- MATRICULA | RESUMEN -->
                    
                                    <!-- COURSE | CICLES | FREE ROOM | DISCOUNT -->
                                    <div class="col-12 col-md-6">
                                        <div class="card">

                                            <!-- CICLES -->
                                            <div class="card-header border-0 pt-4"><h3 class="card-title my-0"><span class="">Ciclos</span></h3></div>
                                            
                                            <div class="card-body py-0">

                                                <!-- COURSE -->
                                                <div class="row form-group">
                                                    <label class="col-lg-3 col-form-label text-lg-end"><b>Curso base:</b></label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <select class="selectpicker form-control" data-live-search="true" style="width: 100%;">
                                                              <option selected disabled>Seleccionar un Curso</option>
                                                              <option *ngFor="let item of courseList" value="{{item._id}}">{{item.title}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- COURSE -->
                                                <br>
                                                <!-- CICLE -->
                                                <div class="row form-group">
                                                    <label class="col-lg-3 col-form-label text-lg-end"><b>Ciclo:</b></label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control form-control-solid" placeholder="Seleccionar curso">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button">Go!</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- CICLE -->

                                                <!-- FREE ROOM -->
                                                <h3 class="card-title my-4">Salones disponibles:</h3>
                                                <div class="row mb-4">

                                                    <div class="col-lg-6">
                                                        <div class="card" style="background: #f3f6f9;">
                                                            <div class="card-body row d-flex px-3">
                                                                <div class="col-1">
                                                                    <input type="radio" name="m_option_1" value="1" checked="checked">
                                                                </div>
                                                                <div class="col-8 pr-0 mr-0">
                                                                    <!-- <h6 class="mb-2">Salon 1</h6> -->
                                                                    <h5 class="mb-0">Salon 2</h5>
                                                                    <br>
                                                                    <h6 class="bold mb-2">Días:<span class="text-muted"> Lu-Mi-Vi</span></h6>
                                                                    <h6 class="bold mb-2">Horario:<span class="text-muted"> 4pm - 5pm</span></h6>
                                                                </div>
                                                                <div class="col-2 px-0 mx-0">
                                                                    <h5 class="bold ">10(5)</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="card" style="background: #f3f6f9;">
                                                            <div class="card-body row d-flex px-3">
                                                                <div class="col-1">
                                                                    <input type="radio" name="m_option_1" value="1" checked="checked">
                                                                </div>
                                                                <div class="col-8 pr-0 mr-0">
                                                                    <!-- <h6 class="mb-2">Salon 1</h6> -->
                                                                    <h5 class="mb-0">Salon 2</h5>
                                                                    <br>
                                                                    <h6 class="bold mb-2">Días:<span class="text-muted"> Lu-Mi-Vi</span></h6>
                                                                    <h6 class="bold mb-2">Horario:<span class="text-muted"> 4pm - 5pm</span></h6>
                                                                </div>
                                                                <div class="col-2 px-0 mx-0">
                                                                    <h5 class="bold ">10(5)</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <!-- FREE ROOM -->

                                                <h3 class="card-title">Descuento:</h3>
                                                <div class="row">
                                                    <!-- TYPE DISCOUNT -->
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label><b>Tipo:</b></label>
                                                            <select class="custom-select form-control form-control-solid" id="">
                                                                <option value="" selected disabled>Seleccionar</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- TYPE DISCOUNT -->

                                                    <!-- PRICE DISCOUNT -->
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label><b>Valor:</b></label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control form-control-solid" placeholder="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary" type="button">Aplicar!</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRICE DISCOUNT -->

                                                </div>
                                                <br>
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Diseño gráfico</td><td>Salon 3</td>
                                                            <th class="text-center"><i class='bx bx-trash' style='color:#f50b0b'></i></th>
                                                        </tr>
                                                        <tr>
                                                            <td>Desarrollo web</td><td>Salon 1</td>
                                                            <th class="text-center"><i class='bx bx-trash' style='color:#f50b0b'></i></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                    
                                            </div>
                                            <!-- CICLE -->

                                            <!-- DISCOUNT -->
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary">Matricular</button>
                                            </div>
                                            <!-- DISCOUNT -->

                                        </div>
                                    </div>
                                    <!-- CICLES | FREE ROOM | DISCOUNT -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- LEAD MODAL -->
<div class="col-lg-4 col-md-6">
    <div class="mt-3">
        <div class="modal fade" id="modalLead" tabindex="-1" role="dialog" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Lista de Clientes</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-header">
                        <!-- TEACHER SEARCHER -->
                        <div class="col-12 col-md-6">
                            <div class="card-body demo-vertical-spacing demo-only-element px-0 pt-0">
                                <div class="input-group input-group-merge">
                                    <input type="text" class="form-control" placeholder="Buscar" name="leadFilter" 
                                    [(ngModel)]="leadFilter" (keyup)="leadSearch()"/>
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="leadSearch()">
                                        <i class='bx bx-search'></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- TEACHER SEARCHER -->
                    </div>

                    <div class="modal-body p-0" style="max-height: 500px; overflow: auto;">

                        <ng-container *ngIf="!loadLead">
                            <div class="col-md text-center">
                                <br>
                                <div class="text-light small fw-semibold">Cargando...</div>
                                <div class="demo-inline-spacing">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <br>
                            </div>  
                        </ng-container>

                        <ng-container *ngIf="loadLead">
                            <ng-container *ngIf="leadList.length >= 1">
                                <div class="col-12 order-2" *ngFor="let item of leadList">
                                    <div class="card h-100">
                                        <div class="card-body py-0">
                                        <ul class="p-0 m-0">
                                            <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <div class="card align-items-center" style="padding: 5px 10px 5px 10px; color: whitesmoke" 
                                                    [ngClass]="{
                                                        'bg-primary': item.name.charAt(0) >= 'A' && item.name.charAt(0) <= 'D',
                                                        'bg-danger': item.name.charAt(0) >= 'E' && item.name.charAt(0) <= 'I',
                                                        'bg-secondary': item.name.charAt(0) >= 'J' && item.name.charAt(0) <= 'N',
                                                        'bg-warning': item.name.charAt(0) >= 'O' && item.name.charAt(0) <= 'R',
                                                        'bg-success': item.name.charAt(0) >= 'S' && item.name.charAt(0) <= 'V',
                                                        'bg-info': item.name.charAt(0) >= 'W' && item.name.charAt(0) <= 'Z'
                                                    }" >{{item.name.charAt(0)}}
                                                </div>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">{{item.fullname}}&nbsp;
                                                        <span class="badge bg-warning me-1" *ngIf="item.type == 'Socio'">S</span>
                                                        <span class="badge bg-secondary me-1" *ngIf="item.type == 'Prospecto'">P</span>
                                                    </h6>
                                                    <small class="text-muted d-block mb-1">{{item.email}}</small>
                                                </div>
                                                <button *ngIf="item.verify" class="btn btn-success btn-sm" (click)="leadSelect(item)" data-dismiss="modal">Seleccionar</button>
                                                <button *ngIf="!item.verify" disabled class="btn btn-danger btn-sm">No verificado</button>
                                            </div>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="leadList.length == 0">
                                <div class="container">
                                    <h4>No se encontraron datos con el parametro de busqueda....</h4>
                                </div>
                            </ng-container>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LEAD MODAL -->

<!-- TOAST | NOTIFICACION -->
<div class="bs-toast toast fade show bg-{{typeToastMessage}} " role="alert" aria-live="assertive" aria-atomic="true"
    style="position: absolute; top: 3%; right: 3%;" *ngIf="alertOn">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">{{toastMessage2()}}</div>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {{toastMessage1()}} </div>
</div>
<!-- TOAST | NOTIFICACION -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>